.word {
   display: flex;
   gap: 10px;
}

.word div {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   font-size: 24px;
   font-weight: bold;
   transition: all 0.3s ease;
   background: #EBEBFC;
   user-select: none;
}

.guessed {
   background-color: #E1F5EC;
   color: #03AB4F;
}

.textTransparent {
   color: transparent;
}
