.usedLettersSection {
   width: 100%;
   margin-top: 10px;
}

.usedLettersSection h2 {
   font-size: 16px;
   font-weight: normal;
   margin-bottom: 10px;
   color: #32325F;
}

.usedLetters {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   gap: 8px;
   padding: 10px;
   border-radius: 8px;
   min-height: 40px;
}

.usedLetters span {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px 12px;
   border-radius: 6px;
   font-weight: 600;
   width: 50px;
   height: 50px;
   font-size: 24px;
   transition: all 0.3s ease;
}

.correctLetter {
   background-color: #E1F5EC;
   color: #03AB4F;
   border: 2px solid #03AB4F;
}

.wrongLetter {
   background-color: #FFCF62;
   color: #000000;
   border: 2px solid #691B0A;
}
