.guess {
   width: 100%;
}

.guess h2 {
   font-size: 16px;
   font-weight: normal;
   margin-bottom: 10px;
   color: #32325F;
}

.inputs {
   display: flex;
   gap: 10px;
   margin-top: 10px;
}

.inputs input {
   width: 50px;
   height: 50px;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   background: #EBEBFC;
   border: 3px solid #4F4FB9;
   color: #4F4FB9;
   border-radius: 8px;
   outline: none;
}

.inputs button {
   padding: 8px;
   height: 50px;
   text-align: center;
   font-size: 20px;
   background: #6363DB;
   border: 3px solid #4F4FB9;
   border-radius: 8px;
   color: #FFFFFF;
}

.inputs button:hover {
   cursor: pointer;
   background-color: #4F4FB9;
}
